<!--TODO: Сделай схему проезда - спойлер-->
<!--TODO: рассылка и программа лояльности-->

{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hotel Olimp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'other/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'other/css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'other/css/main.css' %}">


</head>
<body>
<div id="navbar">
    <nav class="navbar my-navbar fixed-top navbar-expand-lg black-bg-75">
        <div class="container">
            <a class="anchor navbar-brand a-no-decoration" href="#jumbotron">Olimp</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="anchor nav-link a-no-decoration" href="#jumbotron">HOME<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="anchor nav-link a-no-decoration" href="#rooms">ROOMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="anchor nav-link a-no-decoration" href="#">OFFERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="anchor nav-link a-no-decoration" href="#sights">TOURS</a>
                    </li>
                    <li class="nav-item">
                        <a class="anchor nav-link a-no-decoration" href="#about-us">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a id="book-menu-item" class="anchor nav-link a-no-decoration" href="#jumbotron-footer">BOOK</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>


<div id="jumbotron">
    <a name="home"></a>
    <div class="solid opacity-75 black-bg"></div>
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div id="jumbotron-text-block" class="mt-5">
            <h1 class="title">HOTEL OLIMP</h1>
            <h2 class="subtitle">A COUPLE STEPS FROM VICTORIES</h2>
            <div class="my-hr mt-3 coral-bg"></div>

            <p class="italic-text mt-4 mb-5">Comfort cozy apartments near the Lushniki stadium.<br>
                Sportivnaya metro station.</p>
            <div class="anchor btn my-btn mt-5" href="#jumbotron-footer">BOOK NOW</div>

        </div>
    </div>
</div>


<div id="book-preview" class="white-bg">
    <div class="text-center white-bg">
        <div class="black-bg-with-shadow">
            <h1 class="subtitle white-text p-3">HOTEL OLIMP</h1>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-3"></div>

                <div class="col-6 text-justify">
                    <hr>
                    <h3 class="subtitle">We are waiting for you!</h3>
                    <hr>
                    <p class="italic-text"><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. In
                        vitae lorem sit amet nunc finibus molestie. Proin
                        eget finibus nulla. Morbi ornare lacus eget mi tristique faucibus. Phasellus ante tellus,
                        placerat
                        vel
                        lacinia in, mattis congue arcu. Nulla mauris tellus, iaculis et tincidunt vitae, porta ac erat.
                        Morbi
                        varius, turpis id sodales cursus, tellus nisi mattis sapien, id dapibus arcu nulla tristique
                        odio.
                        Donec vel
                        blandit arcu, id cursus mauris. Suspendisse finibus risus ac dolor cursus commodo. Etiam
                        interdum
                        nibh et
                        felis aliquet mollis. Maecenas consequat felis eget vulputate volutpat. Donec auctor justo
                        felis, eu
                        sodales
                        turpis commodo sed.</p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4 order-md-0 col-sm-12 order-sm-0 text-center">
                    <div class="form-group">
                        <label for="book-preview-departure"></label>
                        <input type="email" class="form-control" id="book-preview-arrival" placeholder="Arrival">
                        <small id="book-preview-arrival-help" class="form-text text-muted">Select when you are going to
                            come.
                        </small>
                    </div>
                </div>
                <div class="col-md-4 order-md-1 col-sm-12 order-sm-2 text-center">
                    <div class="form-group">
                        <label for="book-preview-departure"></label>
                        <input type="email" class="form-control" id="book-preview-departure" placeholder="Departure">
                        <small id="book-preview-departure-help" class="form-text text-muted">Select when you are going
                            to
                            leave.
                        </small>
                    </div>
                    <a class="a-no-decoration" href="/book">
                        <div class="anchor btn my-btn btn-block text-white mt-5 mb-5">BOOK NOW</div>
                    </a>
                </div>
                <div class="col-md-4 order-md-2 col-sm-12 order-sm-1 text-center">
                    <label for="book-preview-price"></label>
                    <select id="book-preview-price" class="form-control">
                        <option>Room</option>
                        <option>Lux 2000/night</option>
                        <option>Economy 1500/night</option>
                        <option>Economy 1500/night</option>
                        <option>Economy 1500/night</option>
                    </select>
                    <small id="book-preview-price-help" class="form-text text-muted">Select room price.</small>
                </div>
            </div>
        </div>
    </div>


    <div id="rooms" class="white-bg">

        <div class="container-fluid black-bg white-text pt-3 pb-5">
            <div class="horizontal-gallery">
                <div class="scrolls">
                    <a href="{% static 'other/images/sea.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/sea.jpg' %}"></a>
                    <a href="{% static 'other/images/cozy.jpeg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/cozy.jpeg' %}"></a>
                    <a href="{% static 'other/images/light.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/light.jpg' %}"></a>
                    <a href="{% static 'other/images/jumbotron-main.jpeg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/jumbotron-main.jpeg' %}"></a>
                    <a href="{% static 'other/images/sea.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/sea.jpg' %}"></a>
                </div>
            </div>
            <div class="container text-center mt-3">
                <div class="my-hr white-bg"></div>
                <h1 class="subtitle white-text">Lux apartaments</h1>
                <div class="my-hr white-bg"></div>
                <p class="italic-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim lectus at fringilla rutrum.
                    Ut
                    lectus massa, tincidunt sed est eu, venenatis rhoncus dolor. Integer maximus bibendum augue, dictum
                    venenatis purus imperdiet a. Vestibulum eu sagittis lorem. Duis at arcu a sem condimentum interdum
                    non
                    et eros. Mauris pellentesque dui ut arcu sollicitudin auctor. Cras dignissim vehicula nisl id
                    ornare.
                    Donec a scelerisque sem. Donec nec mollis ex, ac facilisis orci. Curabitur sed auctor lacus.
                    Suspendisse
                    a facilisis ligula. Etiam congue lorem a enim aliquet, eu ultrices ex congue.
                </p>
                <div class="anchor btn my-btn text-white mt-5" href="#jumbotron-footer">BOOK NOW</div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="horizontal-gallery">
                <div class="scrolls">
                    <a href="{% static 'other/images/sea.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/sea.jpg' %}"></a>
                    <a href="{% static 'other/images/cozy.jpeg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/cozy.jpeg' %}"></a>
                    <a href="{% static 'other/images/light.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/light.jpg' %}"></a>
                    <a href="{% static 'other/images/jumbotron-main.jpeg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/jumbotron-main.jpeg' %}"></a>
                    <a href="{% static 'other/images/sea.jpg' %}" data-lightbox="lux" data-title="Lux room"><img
                            alt="lux"
                            src="{% static 'other/images/sea.jpg' %}"></a>
                </div>
            </div>
            <div class="container text-center mt-3 pt-3">
                <div class="my-hr coral-bg"></div>
                <h1 class="subtitle coral-text">Lux apartaments</h1>
                <div class="my-hr coral-bg"></div>
                <p class="italic-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim lectus at fringilla rutrum.
                    Ut
                    lectus massa, tincidunt sed est eu, venenatis rhoncus dolor. Integer maximus bibendum augue, dictum
                    venenatis purus imperdiet a. Vestibulum eu sagittis lorem. Duis at arcu a sem condimentum interdum
                    non
                    et eros. Mauris pellentesque dui ut arcu sollicitudin auctor. Cras dignissim vehicula nisl id
                    ornare.
                    Donec a scelerisque sem. Donec nec mollis ex, ac facilisis orci. Curabitur sed auctor lacus.
                    Suspendisse
                    a facilisis ligula. Etiam congue lorem a enim aliquet, eu ultrices ex congue.
                </p>
                <div class="anchor btn my-btn text-white mt-5" href="#jumbotron-footer">BOOK NOW</div>
            </div>
        </div>
    </div>

    <div id="temp-parallax" class="black-bg opacity-50"></div>
    <div id="parallax"></div>


    <div id="sights">
        <div class="black-bg-with-shadow">
            <h1 class="subtitle white-text p-3 text-center">Nearest sights</h1>
        </div>
        <div id="sights-images" class="container-fluid p-0, m-0">
            <div class="row">

                <div id='sights-images-1' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id='sights-images-2' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id='sights-images-3' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id='sights-images-4' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id='sights-images-5' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id='sights-images-6' class="col-2 align-items-end">
                    <div class="d-flex h-100 align-items-end">
                        <div class="d-block w-100 text-center position-relative pt-3 pb-3">
                            <h1 class="subtitle text-white">TEMPLE OF SAVIOR</h1>
                            <p class="italic-text text-white">Religious center of Moscow</p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-clock"><span
                                        class="text-white  pl-3">5-7 minutes</span></i>
                            </p>
                            <p class="sight-details mt-3">
                                <i class="text-white fa fa-walking"><span
                                        class="text-white pl-3">150 metres</span></i>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<div id="about-us" class="white-bg">

    <h1 class="subtitle text-center w-100 white-text black-bg-with-shadow pt-3 pb-2">CONTACTS</h1>
    <div class="container">
        <div class="row justify-content-center italic-text mt-4 pt-4 pb-5">
            <div class="col-4 text-right">
                Moscow,<br>
                Moscvoretckaya<br>
                neberejnaya, 73
            </div>
            <div id='about-us-center-column' class="col-4 text-center">
                hotelolimp@olimp.ru<br>
                8(962)316-08-16<br>
                <a class="a-no-decoration coral-text" href="#">vk.com/olimphotel</a>
            </div>
            <div class="col-4 text-left">
                the nearest<br>
                metro station<br>
                is Sportivnaya
            </div>
        </div>
        <div style="width: 100%">
            <iframe width="100%" height="600"
                    src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=55.771136, 37.7012224&amp;q=Moscow+(Moscow)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                    href="https://www.maps.ie/map-my-route/">Map a route</a></iframe>
        </div>
        <br/>
    </div>
</div>

<div id="jumbotron-footer">
    <div class="solid opacity-75 black-bg"></div>
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div id="jumbotron-text-block-footer" class="mt-5">
            <h1 class="title">WE ARE WAITING FOR YOU!</h1>
            <h2 class="subtitle">ONLY FEW STEPS FROM SPORT.</h2>
            <div class="my-hr mt-3 coral-bg"></div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4 order-md-0 col-sm-12 order-sm-0 text-center">
                        <div class="form-group">
                            <label for="book-preview-departure-footer"></label>
                            <input type="email" class="form-control" id="book-preview-arrival-footer"
                                   placeholder="Arrival">
                            <small id="book-preview-arrival-help-footer" class="form-text text-white">Select when you
                                are going
                                to
                                come.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4 order-md-1 col-sm-12 order-sm-2 text-center">
                        <div class="form-group">
                            <label for="book-preview-departure-footer"></label>
                            <input type="email" class="form-control" id="book-preview-departure-footer"
                                   placeholder="Departure">
                            <small id="book-preview-departure-help-footer" class="form-text text-white">Select when you
                                are
                                going to
                                leave.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4 order-md-2 col-sm-12 order-sm-1 text-center">
                        <label for="book-preview-price-footer"></label>
                        <select id="book-preview-price-footer" class="form-control">
                            <option>Room</option>
                            <option>Lux 2000/night</option>
                            <option>Economy 1500/night</option>
                            <option>Economy 1500/night</option>
                            <option>Economy 1500/night</option>
                        </select>
                        <small id="book-preview-price-help-footer" class="form-text text-white">Select room price.
                        </small>
                    </div>
                </div>
            </div>
            <div class="btn my-btn mt-5">BOOK NOW</div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'other/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/onReady.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/scroll.js' %}"></script>
<script type="text/javascript" src="{% static 'other/js/lightbox.js' %}"></script>
</html>