{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализ сетевого трафика| Анализ сетевых угроз с помощью нейросетевых алгоритмов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'other/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body style="overflow-x: hidden">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/other/internet-tech">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/other/internet-tech/neural-networks">Нейросети как инструмент<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/other/internet-tech/trafic-analyze">Анализ трафика</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="container pt-3">
        <hr>
        <h1>Нейросетевой анализ сетевого трафика.<br/> Выявление вредоносного трафика.</h1>
        <hr>
        <h3>Современные реалии.</h3>
        <p>Мы живем в XXI веке, веке скоростей и высоких технологии. С их появлением человеку были даны огромные
            возможности.
            Но с появление возможностей появляется и ответственность.</p>
        <p> Ни для кого не секрет, что существуют вирусы и хакеры, уязвимости в системе и кибер-атаки. Пока программное
            обеспечение
            будет писаться человеком, в нем будут оставаться дыры в безопасности, которыми могут воспользоваться другие
            люди.
            Мы, законопослушные граждане, можем лишь бороться с этим.</p>

        <h3>Сетевой трафик и сетевые атаки.</h3>
        <p> Основное число угроз исходит из Интернета. Это может быть все что угодно: начиная с обыкновенных вирусных
            файлов, кончая DOS и DDOS-атаками. Открытость Всемирной паутины позволяет таким вещами существовать
            достаточно
            свободно. </p>
        <p> Каждая из атак характеризуется своей сигнатурой, своей особенностью. Например, DOS-атака(Denial of Service)
            - характеризуется большим количество запросов на сервер с одного хоста. То есть практический у каждого вида
            вредоносного кода и действия есть свой паттерн поведения, который можно анализировать.</p>
        <p> Важно понимать, что прежде чем сетевой трафик дойдет до клиента, он обязан пройти сервера провайдера,
            который
            отвественный за доступ к Интернету. Именно на стороне провайдера удобнее всего анализировать и фильтровать
            сетевой трафик,
            но для этого необходимы достаточно точные и быстрые инструменты, чтобы обеспечить безопасную и быструю
            работу сети. Такими инструментами могут являться искуственные нейронные сети.</p>
        <h3>Искуственные нейронные сети.</h3>
        <p> Нейронные сети (искусственная нейронная сеть) — это система соединенных и взаимодействующих между собой
            простых
            процессоров (искусственных нейронов). Такие процессоры обычно довольно просты (особенно в сравнении с
            процессорами, используемыми в персональных компьютерах). Каждый процессор подобной сети имеет дело только с
            сигналами, которые он периодически получает, и сигналами, которые он периодически посылает другим
            процессорам.
            И, тем не менее, будучи соединёнными в достаточно большую сеть с управляемым взаимодействием, эти процессоры
            вместе способны выполнять довольно сложные задачи, поскольку нейронные сети обучаются в процессе работы.</p>

        <p>Именно из-за возможности динамического обучения нейросетей и механизма обратного распространения ошибки,
            нейронные сети могут оказать неоценимую помощь в анализе трафика.</p>
        <p>Процесс обучения искуственной нейронной сети состоит из представления нейросети данных и корректировки
            результатов.
            Данными в случае анализа сетевого трафика являются пакеты http, фреймы tcp/udp и данные других
            протоколов. </p>
        <p>Большие и средние IT-компании, связанные с безопасностью имеют свою статистику сетевых угроз, конкретные логи
            и данные.
            Некоторые хранят эти классифицированные данные в открытом доступе. Также некоторые университеты собирают
            данную статистику.
            Можно использовать эти данные для анализа паттернов сетевых угроз, разработки и проектирования искуственных
            нейросетей для решения этой задачи.</p>
    </div>
</div>
<footer class="container-fluid bg-dark pt-3 m-0 p-0">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-white text-center">
            <p>Интернет-технологии</p>
            <hr>
            <p>2019 | <a class="text-white" href="http://artbakulev.com/">Bakulev Artyom</a></p>
        </div>
        <div class="col-4"></div>
    </div>
</footer>
</body>
</html>