@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
label {
  font-size: 1.4em;
  font-weight: 500; }

.btn {
  font-size: 1.5em; }

.solid {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  opacity: 0.75; }

#success {
  position: relative;
  height: 100%;
  width: 100%;
  color: #ebe5e6;
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  min-height: 100vh;
  background: url("https://poster.nicefon.ru/2016_05/19/1080x610/1303399ab123b4e1e0cb4.jpg") no-repeat center;
  background-size: cover; }
  #success #success-text {
    z-index: 10000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #success hr {
    background-color: #ebe5e6; }

#calendar {
  position: relative;
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  z-index: 1000;
  display: flex;
  min-height: 100vh;
  width: auto;
  background: url("https://img1.goodfon.ru/wallpaper/nbig/c/57/bereg-les-devushka-pohod.jpg") no-repeat center;
  background-size: cover; }
  #calendar .form-group {
    font-size: 16px; }
  #calendar .title {
    color: #ebe5e6;
    font-size: 0.7em;
    font-weight: 500; }
  #calendar .month {
    color: #1A1A1A; }

#choice_menu {
  height: 100%;
  z-index: 100;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  #choice_menu #choice_calendar {
    width: 100%;
    display: flex; }
    #choice_menu #choice_calendar .container {
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.6); }
      #choice_menu #choice_calendar .container #when_row .col-md-4, #choice_menu #choice_calendar .container #when_row .col-sm-12 {
        text-align: center; }
        #choice_menu #choice_calendar .container #when_row .col-md-4 .days_of_week, #choice_menu #choice_calendar .container #when_row .col-sm-12 .days_of_week {
          background-color: #438644;
          color: #ebe5e6;
          font-size: 1em; }
          #choice_menu #choice_calendar .container #when_row .col-md-4 .days_of_week:hover, #choice_menu #choice_calendar .container #when_row .col-sm-12 .days_of_week:hover {
            background-color: #438644; }
        #choice_menu #choice_calendar .container #when_row .col-md-4 .week, #choice_menu #choice_calendar .container #when_row .col-sm-12 .week {
          transition: 0.5s;
          -moz-transition: 0.5s;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          display: flex;
          justify-content: space-around;
          width: 100%;
          cursor: pointer; }
          #choice_menu #choice_calendar .container #when_row .col-md-4 .week:hover, #choice_menu #choice_calendar .container #when_row .col-sm-12 .week:hover {
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s; }
          #choice_menu #choice_calendar .container #when_row .col-md-4 .week div, #choice_menu #choice_calendar .container #when_row .col-sm-12 .week div {
            font-size: 1.4em;
            display: inline-block;
            width: 24px; }
        #choice_menu #choice_calendar .container #when_row .col-md-4 .week.clickable:hover, #choice_menu #choice_calendar .container #when_row .col-sm-12 .week.clickable:hover {
          background-color: #f0c0b5;
          cursor: pointer;
          color: #8bc2a1; }

.month {
  color: #1A1A1A; }

/*# sourceMappingURL=calendar.css.map */
